{% extends 'base/site_manager.html' %}
{% load staticfiles %}

{% block body_content %}
    <div class="container container-extended margin-top-20">

        <div class="row">

            <div class="col s12 m8">
                <h5 class="title">Latest News</h5>
                <div class="card">
                    <div class="card-image news-image-box"  >
                        <img src="{% static 'images/b18.jpg' %}" class="full_img">
                    </div>
                    <div class="card-content">
                        <span class="card-title bold">Card Title</span>
                        <div class="date_timeposted">Posted on: <span class="date_posted rodab">20/08/2016 at 3:00pm</span>  by <span class="posted_by rodab">Admin</span> </div>
                        <p>I am a very simple card. I am good at containing small bits of information.
                            I am convenient because I require little markup to use effectively.</p>
                    </div>

                </div>
                <div class="card">
                    <div class="card-image news-image-box"  >
                        <img src="{% static 'images/b18.jpg' %}" class="full_img">
                    </div>
                    <div class="card-content">
                        <span class="card-title bold">Card Title</span>
                        <div class="date_timeposted">Posted on: <span class="date_posted rodab">20/08/2016 at 3:00pm</span>  by <span class="posted_by rodab">Admin</span> </div>
                        <p>I am a very simple card. I am good at containing small bits of information.
                            I am convenient because I require little markup to use effectively.</p>
                    </div>

                </div>
            </div>

            <div class="col s12 m4 ">
                <h5 class="title">News Archives</h5>

                <div class="card horizontal">
                    <div class="card-image schedule_img">
                        <!--<img src="http://lorempixel.com/100/190/nature/6">-->
                        <div class="wrap_schedule_date">
                            <span class="schedule_month">JUNE</span>
                            <span class="schedule_day">13</span>
                        </div>
                    </div>
                    <div class="card-stacked">
                        <div class="card-content">
                            <p>School Opens on nov 13</p>
                        </div>

                    </div>
                </div>


                <a href=""><div class="card horizontal">
                    <div class="card-image schedule_img">
                        <!--<img src="http://lorempixel.com/100/190/nature/6">-->
                        <div class="wrap_schedule_date">
                            <span class="schedule_month">JUNE</span>
                            <span class="schedule_day">13</span>
                        </div>
                    </div>
                    <div class="card-stacked">
                        <div class="card-content">
                            <p>School Opens on nov 13 the man is very good as he has done for the other person
                                School Opens on nov 13 the man is very good as he has done for the other person
                                School Opens on nov 13 the man is very good as he has done for the other person </p>

                            <p>School Opens on nov 13</p>

                        </div>

                    </div>
                </div></a>

            </div>
        </div>

    </div>

{% endblock %}